<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPrintWebService" />
                <binding name="BasicHttpBinding_IPrintWebService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://153.109.124.35:83/BiollazGaillardPWS/PrintWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintWebService"
                contract="PrintWebService.IPrintWebService" name="BasicHttpBinding_IPrintWebService" />
            <endpoint address="http://localhost:13852/PrintWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintWebService1"
                contract="localPrint.IPrintWebService" name="BasicHttpBinding_IPrintWebService1" />
        </client>
    </system.serviceModel>
</configuration>